@use 'sass:map';
@use 'node_modules/@angular/material' as mat;

@mixin color($config) {
  $accent: map-get($config, 'accent');
  $primary: map-get($config, 'primary');

  pip-media-example {
    .mat-grid-tile.active {
      background-color: mat.get-color-from-palette($primary);
    }
  }

  .mat-grid-tile.active {
    background-color: mat.get-color-from-palette($accent);
    color: map.get($accent, 'default-contrast');
  }
}

@mixin typography($config-or-theme) {
}

@mixin _density($config-or-theme) {
}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);
  @include mat.private-check-duplicate-theme-styles($theme, 'media-example') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include _density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
